<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
    <%- include('../partials/header', {pagina:"sobre"}); %>
    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Para além da minha experiência profissional, considero-me uma pessoa responsável, muito organizada, que gosta de novos desafios e com muita vontade de progredir.</p>
            <p>Tenho satisfação em promover um ambiente de colaboração onde toda a equipa se sinta bem.</p>
            <p>Acredito que a verdade e honestidade devem estar sempre presentes ao interagir com membros da equipa, entidade patronal e parceiros de negócio.</p>
        </div> 
    </main> 
    <%- include('../partials/footer'); %>
</body> 
